body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

video {
  object-fit: cover;
  width: 1920px;
  height: 920px;
}

section:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 1920px;
  height: 100%;
  background: linear-gradient(to right, #316115, #b4e698, #f19cb3, #b1143f);
  opacity: 100%;
  mix-blend-mode: screen;
  pointer-events: none;
}

.sample_1 {
  position: absolute;
  z-index: 100;
  top: 160px;
  left: 834px;
}

header {
  border-style: none !important;
}
