body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-color: #f8f8f3;
}

.sec_1 {
  display: flex;
  top: 240px;
  width: 130px;
  height: 1080px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #434343;
}
