body {
  width: 1920px;
  height: 1080px;
  background-color: #f8f8f3;
}

section {
  display: flex;
  flex-flow: column;
}

h1 {
  font-family: 'KoPubBatangB';
  font-size: 26px;
  font-weight: normal;
  color: #434343;
  margin-left: 20px;
  line-height: normal;
}

.top_container {
  display: flex;
  flex-direction: row;
  width: 1920px;
  height: 770px;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-color: #434343;
}

.title_area {
  display: flex;
  align-items: center;
  height: 70px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #434343;
}

.todays_frag_container {
  display: flex;
  flex-direction: column;
  width: 790px;
  height: 770px;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #434343;
}

.magazine_container {
  display: flex;
  flex-direction: column;
  width: 782px;
  height: 770px;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #434343;
}

.right_container {
  display: flex;
  flex-direction: column;
  width: 348px;
  height: 770px;
}

.keyword_container {
  display: flex;
  flex-direction: column;
  height: 295px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #434343;
}

.ads_container {
  display: flex;
  flex-direction: column;
  height: 405px;
}

.btm_container {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 682px;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: #434343;
}
