<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="/css/header.css" type="text/css" />
  <link rel="stylesheet" href="/css/recommend.css" type="text/css" />
  <title>여향 | Recommend</title>
</head>

<body>
  <header>
    <a href="/"><img class="logo" src="/img/logo.svg" alt="logo"></a>
    <nav>
      <ul class="nav_links">
        <li>
          <a href="/recommend.ejs">추천</a>
        </li>
        <li>
          <a href="/fragrance.ejs">프레그런스</a>
        </li>
        <li>
          <a href="/bathandbody.ejs">배스 앤 바디</a>
        </li>
        <li>
          <a href="/homefragrance.ejs">홈 프레그런스</a>
        </li>
      </ul>
    </nav>
    <ul class="cta_area">
      <li>
        <a class="cta_search" href="/search.ejs"><img src="/img/search.svg"></a>
      </li>
      <li>
        <a class="cta_mypage" href="/mypage.ejs"><img src="/img/mypage.svg"></a>
      </li>
    </ul>
  </header>
  <section>
    <div class="top_container">
      <div class="todays_frag_container">
        <div class="title_area">
          <h1>오늘의 향수</h1>
        </div>
        <div class="todays_frag">
          <img class="todays_frag_img" src="img/sample_1.png">
          <div class="todays_frag_info">
            <div class="brand">구찌</div>
            <div class="name">[알케미스트 가든]<br>Fading Autumn, Woods</div>
            <div class="weather">
              <div class="temp_container">
                <h2>평균 기온</h2>
                <div class="temp">10 °C</div>
              </div>
              <div class="preci_container">
                <h2>강수 확률</h2>
                <div class="preci">10 %</div>
              </div>
            </div>
            <h3>평균 기온과 강수 확률을 분석하여<br>
              오늘 뿌리기 좋은 향수를 알려드립니다.</h3>
          </div>
        </div>
        <div class="view_more">
          <h4>더보기 ></h4>
        </div>
      </div>
      <div class="magazine_container">
        <div class="title_area">
          <h1>매거진</h1>
        </div>
      </div>
      <div class="right_container">
        <div class="keyword_container">
          <div class="title_area">
            <h1>실시간 인기 키워드</h1>
          </div>
        </div>
        <div class="ads_container">
          <div class="title_area">
            <h1>향수 심리 테스트</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="btm_container">
      <div class="title_area">
        <h1>이럴 땐 이런 향수</h1>
      </div>
    </div>
  </section>
</body>

</html>