<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="css/header.css" type="text/css" />
  <link rel="stylesheet" href="css/recommend.css" type="text/css" />
  <link rel="stylesheet" href="css/modal.css" type="text/css" />
  <title>여향 | Recommend</title>
</head>

<body>
  <header>
    <a href="/"><img class="logo" src="img/logo.svg" alt="logo"></a>
    <nav>
      <ul class="nav_links">
        <li>
          <a href="recommend">추천</a>
        </li>
        <li>
          <a href="fragrance">프레그런스</a>
        </li>
        <li>
          <a href="bathandbody">배스 앤 바디</a>
        </li>
        <li>
          <a href="homefragrance">홈 프레그런스</a>
        </li>
      </ul>
    </nav>
    <ul class="cta_area">
      <li>
        <a class="cta_mypage" href="mypage"><img src="img/mypage.svg"></a>
      </li>
    </ul>
  </header>
  <section>
    <div class="top_container">
      <div class="todays_frag_container">
        <div class="title_area">
          <h1>오늘의 향수</h1>
        </div>
        <div class="todays_frag">
          <img class="todays_frag_img" src="img/sample_1.png">
          <div class="todays_frag_info">
            <div class="brand">구찌</div>
            <div class="name">[알케미스트 가든]<br>Fading Autumn, Woods</div>
            <div class="weather">
              <div class="temp_container">
                <h2>평균 기온</h2>
                <div class="temp">27 °C</div>
              </div>
              <div class="preci_container">
                <h2>강수 확률</h2>
                <div class="preci">40 %</div>
              </div>
            </div>
            <h3>평균 기온과 강수 확률을 분석하여<br>
              오늘 뿌리기 좋은 향수를 알려드립니다.</h3>
          </div>
        </div>
        <div class="view_more">
          <a href="/fragrance/list/product/135"><h4>더보기 ></h4></a>
        </div>
      </div>
      <div class="magazine_container">
        <div class="title_area">
          <h1>매거진</h1>
        </div>
        <div class="magazine_content_container">
          <div class="magazine_content">
            <img src="img/mag_sample1.png" class="magazine_preview">
            <div class="magazine_textarea">
              <div class="magazine_top_area">
                <div class="magazine_title">오 드 코롱, 오 드 뚜왈렛?</div>
                <div class="magazine_date">21.04.21</div>
              </div>
              <div class="magazine_explain">
                오 드 코롱과 오 드 뚜왈렛, 구분하는 기준이 <br>
                도대체 무엇일까? '부향률'에 대해서 알아보았다.
              </div>
            </div>
          </div>
          <div class="magazine_content">
            <img src="img/mag_sample2.png" class="magazine_preview">
            <div class="magazine_textarea">
              <div class="magazine_top_area">
                <div class="magazine_title">오 드 코롱, 오 드 뚜왈렛?</div>
                <div class="magazine_date">21.04.21</div>
              </div>
              <div class="magazine_explain">
                오 드 코롱과 오 드 뚜왈렛, 구분하는 기준이 <br>
                도대체 무엇일까? '부향률'에 대해서 알아보았다.
              </div>
            </div>
          </div>
          <div class="magazine_content">
            <img src="img/mag_sample3.png" class="magazine_preview">
            <div class="magazine_textarea">
              <div class="magazine_top_area">
                <div class="magazine_title">오 드 코롱, 오 드 뚜왈렛?</div>
                <div class="magazine_date">21.04.21</div>
              </div>
              <div class="magazine_explain">
                오 드 코롱과 오 드 뚜왈렛, 구분하는 기준이 <br>
                도대체 무엇일까? '부향률'에 대해서 알아보았다.
              </div>
            </div>
          </div>
          <div class="magazine_content">
            <img src="img/mag_sample4.png" class="magazine_preview">
            <div class="magazine_textarea">
              <div class="magazine_top_area">
                <div class="magazine_title">오 드 코롱, 오 드 뚜왈렛?</div>
                <div class="magazine_date">21.04.21</div>
              </div>
              <div class="magazine_explain">
                오 드 코롱과 오 드 뚜왈렛, 구분하는 기준이 <br>
                도대체 무엇일까? '부향률'에 대해서 알아보았다.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right_container">
        <div class="keyword_container">
          <div class="title_area">
            <h1>실시간 인기 키워드</h1>
          </div>
          <div class="keyword_content_container">
            <div class="keywords">
              <h6>1. </h6>
              <div class="keyword">조말론</div>
            </div>
            <div class="keywords">
              <h6>2. </h6>
              <div class="keyword">알케미스트 가든</div>
            </div>
            <div class="keywords">
              <h6>3. </h6>
              <div class="keyword">구찌</div>
            </div>
            <div class="keywords">
              <h6>4. </h6>
              <div class="keyword">미스 디올</div>
            </div>
            <div class="keywords">
              <h6>5. </h6>
              <div class="keyword">캘빈 클라인</div>
            </div>
          </div>
        </div>
        <div class="ads_container">
        </div>
      </div>
    </div>
    <div class="btm_container">
      <div class="title_area">
        <h1>이럴 땐 이런 향수</h1>
      </div>
      <div class="recommend_container">
        <div class="recommend_content_container">
          <div class="recommend_left_btn">
            <img src="img/left_arrow.svg">
          </div>
          <div class="recommend_content">
            <div class="recommend">
              <div class="recommend_nickname_area">
                <div class="recommend_nickname">인생의 수레바퀴</div>
                <h7>님</h7>
              </div>
              <div class="recommend_products_area">
              </div>
              <div class="recommend_title">바다에 놀러갈 때 사용할 향수 추천</div>
              <div class="recommend_explain">여름 방학을 맞아 친구들과 광안리 해변으로 여행을 가기로 했습니다. 바다에 놀러갈 때 사용하기 좋은 향수를 추천해주세요!</div>
            </div>
            <div class="recommend">
              <div class="recommend_nickname_area">
                <div class="recommend_nickname">인생의 수레바퀴</div>
                <h7>님</h7>
              </div>
              <div class="recommend_products_area">
              </div>
              <div class="recommend_title">바다에 놀러갈 때 사용할 향수 추천</div>
              <div class="recommend_explain">여름 방학을 맞아 친구들과 광안리 해변으로 여행을 가기로 했습니다. 바다에 놀러갈 때 사용하기 좋은 향수를 추천해주세요!</div>
            </div>
          </div>
          <div class="recommend_right_btn">
            <img src="img/right_arrow.svg">
          </div>
        </div>
        <div class="recommend_btn_area">
          <div id="btn_modal" class="recommend_btn">나도 추천받기</div>
        </div>
      </div>
    </div>
  </section>
  <div id="modal" class="modal_overlay">
    <div class="modal_window">
      <div class="modal_upper">
        <div class="modal_left">
          <div class="modal_title">
            이럴 땐 이런 향수
          </div>
          <div class="modal_explain">
            나의 상황과 생각, 감정에 알맞는 향수를 찾으세요?<br>
            여향 회원들에게 추천 받아보세요!
          </div>
        </div>
        <div class="modal_right">
          <div class="close_area"><img src="img/x_btn.svg"></div>
          <div class="modal_recommend_btn_area">
            <div id="btn_modal2" class="modal_recommend_btn">향수 추천받기</div>
          </div>
        </div>
      </div>
      <hr class="modal_line">
      <div class="modal_content">
        <div class="all_content_num_container">
          총&nbsp;
          <div class="all_content_num">24</div>
          개
        </div>
        <div class="modal_recommend_content_container">
          <div class="modal_recommend_content">
            <div class="modal_profile_container">
              <img class="modal_profile_pic" src="img/profile_pic1.png">
              <div class="modal_profile_info">
                <div class="modal_profile_nickname">인생의 수레바퀴</div>
                <div class="modal_profile_date">2021-06-17</div>
              </div>
            </div>
            <div class="modal_recommend_title">바다에 놀러갈 때 사용할 향수</div>
            <div class="modal_recommend_explain">여름 방학을 맞아 친구들과 광안리 해변으로 여행을 가기로 했습니다. 바다에 놀러갈 때 사용하기 좋은 향수를
              추천해 주실 수 있나요?</div>
            <div class="modal_recommended_container">
              <img class="modal_recommended_img" src="img/sample_1.png">
              <img class="modal_recommended_img" src="img/sample_2.png">
              <img class="modal_recommended_img" src="img/sample_3.png">
              <img class="modal_recommended_img" src="img/sample_4.png">
              <img class="modal_recommended_img" src="img/sample_5.png">
              <img class="modal_recommended_img" src="img/sample_6.png">
              <img class="modal_recommended_img" src="img/sample_7.png">
            </div>
            <div class="modal_recommender_btn_area">
              <div class="modal_recommender_btn">향수 추천하기</div>
            </div>
          </div>


          <div class="modal_recommend_content">
            <div class="modal_profile_container">
              <img class="modal_profile_pic" src="img/profile_pic1.png">
              <div class="modal_profile_info">
                <div class="modal_profile_nickname">인생의 수레바퀴</div>
                <div class="modal_profile_date">2021-06-17</div>
              </div>
            </div>
            <div class="modal_recommend_title">바다에 놀러갈 때 사용할 향수</div>
            <div class="modal_recommend_explain">여름 방학을 맞아 친구들과 광안리 해변으로 여행을 가기로 했습니다. 바다에 놀러갈 때 사용하기 좋은 향수를
              추천해 주실 수 있나요?</div>
            <div class="modal_recommended_container">
              <img class="modal_recommended_img" src="img/sample_1.png">
              <img class="modal_recommended_img" src="img/sample_2.png">
              <img class="modal_recommended_img" src="img/sample_3.png">
              <img class="modal_recommended_img" src="img/sample_4.png">
              <img class="modal_recommended_img" src="img/sample_5.png">
              <img class="modal_recommended_img" src="img/sample_6.png">
              <img class="modal_recommended_img" src="img/sample_7.png">
            </div>
            <div class="modal_recommender_btn_area">
              <div class="modal_recommender_btn">향수 추천하기</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal2" class="modal_window_2">
      <div class="close_area2"><img src="img/x_btn.svg"></div>
      <div class="modal2_title">
        향수 추천받기
      </div>
      <input type="text" placeholder="제목 입력" class="recommend_title_input">
      <textarea type="text" size="30" class="recommend_explain_input" placeholder="어떤 향수를 추천받고 싶나요?"></textarea>
      <div class="submit_recommend_btn_area">
        <div id="submit_recommend" class="submit_recommend_btn">등록하기</div>
      </div>
    </div>
  </div>
  <script src="js/modal.js" type="text/javascript"></script>
</body>

</html>